# Hugo output and intermediate build
/public
/resources

# Node.js
node_modules/**
!node_modules/bootstrap/
!node_modules/bootstrap/scss/
!node_modules/bootstrap/scss/**

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/