@inject NavigationManager NavigationManager

<AppBar Side="VerticalSide.Top">
    <a href="/" class="primary title-font me-4" style="font-size:2em;font-weight:900">
        <span style="transition: color 0s ease 0.05s;">W</span><span style="transition: color 0s ease 0.07s;">i</span><span style="transition: color 0s ease 0.09s;">l</span><span style="transition: color 0s ease 0.11s;">&nbsp;</span><span style="transition: color 0s ease 0.13s;">S</span><span style="transition: color 0s ease 0.15s;">t</span><span style="transition: color 0s ease 0.17s;">e</span><span style="transition: color 0s ease 0.19s;">a</span><span style="transition: color 0s ease 0.21s;">d</span>
    </a>
    <div class="d-none d-md-flex">
        <Dropdown Text="Games" Class="primary btn-text">
            <a href="/games/minesweeper">Minesweeper</a>
        </Dropdown>
        <a class="btn btn-text primary" href="/sermoncalculator">Sermon Calculator</a>
        <a class="btn btn-text primary" href="/familyhistory">Family History</a>
    </div>
    <div class="d-md-none">
        <Dropdown Text="Menu" Class="primary btn-text">
            <a href="/games/minesweeper">Minesweeper</a>
            <a href="/sermoncalculator">Sermon Calculator</a>
            <a href="/familyhistory">Family History</a>
        </Dropdown>
    </div>
    <a target="github" href="https://github.com/WilStead" title="GitHub" class="text-reset ms-auto">
        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" class="svg-icon">
            <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0 1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2 0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8 5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3"></path>
        </svg>
    </a>
    <a class="ms-2" target="linkedin" href="https://www.linkedin.com/in/wil-stead">
        <img class="d-none d-md-inline" src="https://img.shields.io/badge/-wil--stead-0077B5?style=flat&logo=Linkedin&link=https://www.linkedin.com/in/wil-stead/" title="LinkedIn" height="22" />
        <img class="d-md-none" src="https://img.shields.io/badge/-0077B5?style=flat&logo=Linkedin&link=https://www.linkedin.com/in/wil-stead/" title="LinkedIn" height="22" />
    </a>
    <LightDarkToggle class="ms-2" />
</AppBar>