@page "/familyhistory"

<PageTitle>Family History</PageTitle>

<div class="container-sm">
    <h1>Family History</h1>

    <p>If you're a member of the family, click here to download a PDF copy of the Stead family history: <a href="https://drive.google.com/file/d/1vLE2jT2RzGDE1ss4_z_k1hAwi0I1kUu8/view?usp=sharing">Family History <small>(1GB)</small></a></p>

    <p>The file is password protected. If you're a member of the family, just call, text, or email Wil for the password.</p>
</div>