@page "/"

<div class="container-fixed">
    <div class="card" style="min-height:25rem">
        <img class="media backdrop position-absolute" style="max-height:25rem;opacity:.5" src="https://lh3.googleusercontent.com/D_yZMEJCF67bR7LDPSix1_7XwF99P6E4N_rxhOEjYWXnytVlU8c_BPRHNaeq1dZ2ahhEu-x_hsH1yggWPDNiXgUiy0N2rGh7MMV4RIDezFdNcbiYPCvbapfQXEQWaw8EuEzlxFxe5ts=w2400" />
        <div class="body media-overlay flex-row justify-content-center">
            <div class="align-self-center">
                <h1 class="mb-3">Hello, World!</h1>
                <div class="roller">
                    <div>
                        <p>I'm Wil Stead,</p>
                        <ul class="roll">
                            <li>Dad</li>
                            <li>Software Engineer</li>
                            <li>Husband</li>
                            <li>Gamer</li>
                            <li>Dad</li>
                            <li>Software Engineer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="card primary">
        <div class="body">
            <p>I write <code>code</code>.</p>
            <p>I work professionally as a Senior Software Development Engineer at <a style="vertical-align: text-bottom" href="https://nascar.com"><img src="https://d1br04p5jdm344.cloudfront.net/file/24/vXkmcbMv3RC4nGvX8AIvoos5NS/NASCAR_Circle_R_BlackRhombus_RGB.png" alt="NASCAR" style="height: 1.2em"></a>.</p>
            <p>I also write a lot of code in my spare time. Most of my personal work can be found through my software project website <a href="https://tavenem.com/">here</a>, or at <a href="https://github.com/WilStead">my personal GitHub page</a>.</p>
        </div>
    </section>
    <section class="card secondary">
        <div class="body">
            <p>I'm also a proud dad to two incredible kids, and the proud husband of an amazing wife.</p>
            <p>Check out my wife's website <a href="https://jessihigginbotham.com/">here</a>.</p>
        </div>
    </section>
    <section class="card tertiary">
        <div class="body">
            <p>In my spare time I play Dungeons and Dragons with a great group of friends.</p>
        </div>
    </section>
    <section>
        <h2 class="text-center">My Skills</h2>
        <hr class="w-75 mx-auto">
        <div class="card-group-md">
            <div class="card tertiary">
                <div class="header d-flex flex-column align-items-center gap-3">
                    <tf-icon font-size="5em">desktop_windows</tf-icon>
                    <h5>Software Engineering</h5>
                </div>
                <div class="body">
                    <ul class="bullets">
                        <li>Master's degree in Software Engineering</li>
                        <li>Full-stack web development</li>
                        <li>Desktop development</li>
                        <li>CI/CD</li>
                        <li>Agile processes</li>
                        <li>Software Lifecycle</li>
                        <li>Software Patterns and Practices</li>
                        <li>MVC & MVVM</li>
                        <li>SQL & NoSQL</li>
                        <li>SPAs</li>
                    </ul>
                </div>
            </div>
            <div class="card secondary">
                <div class="header d-flex flex-column align-items-center gap-3">
                    <tf-icon font-size="5em">code</tf-icon>
                    <h5>Languages and Technologies</h5>
                </div>
                <div class="body d-block text-center">
                    <img src="https://img.shields.io/badge/-.NET--Core-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-ASP.NET--Core-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-Azure_DevOps-777?style=flat&logo=Azure-DevOps&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-Blazor-999?style=flat&logo=WebAssembly&logoColor=654FF0" />
                    <img src="https://img.shields.io/badge/-Bootstrap-777?style=flat&logo=Bootstrap&logoColor=563D7C" />
                    <img src="https://img.shields.io/badge/-C%23-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-CSS3-777?style=flat&logo=CSS3&logoColor=1572B6" />
                    <img src="https://img.shields.io/badge/-Docker-999?style=flat&logo=Docker" />
                    <img src="https://img.shields.io/badge/-Entity_Framework_Core-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-Git-999?style=flat&logo=Git" />
                    <img src="https://img.shields.io/badge/-GitHub-777?style=flat&logo=Github&logoColor=181717" />
                    <img src="https://img.shields.io/badge/-HTML5-999?style=flat&logo=HTML5" />
                    <img src="https://img.shields.io/badge/-JavaScript-777?style=flat&logo=Javascript" />
                    <img src="https://img.shields.io/badge/-jQuery-999?style=flat&logo=jQuery&logoColor=0769AD" />
                    <img src="https://img.shields.io/badge/-JSON-777?style=flat&logo=JSON&logoColor=000000" />
                    <img src="https://img.shields.io/badge/-Knockout-999?style=flat&logo=Javascript" />
                    <img src="https://img.shields.io/badge/-LINQ-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/Microsoft_SQL_Server-999?style=flat&logo=Microsoft-SQL-Server&logoColor=CC2927" />
                    <img src="https://img.shields.io/badge/SQL_Server_Management_Studio-777?style=flat&logo=Microsoft-SQL-Server&logoColor=CC2927" />
                    <img src="https://img.shields.io/badge/Microsoft_Azure-999?style=flat&logo=Microsoft-Azure" />
                    <img src="https://img.shields.io/badge/-PostgreSQL-777?style=flat&logo=PostgreSQL&logoColor=336791" />
                    <img src="https://img.shields.io/badge/-TypeScript-999?style=flat&logo=Typescript&logoColor=007ACC" />
                    <img src="https://img.shields.io/badge/-UWP-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-Visual_Studio-999?style=flat&logo=Visual-Studio&logoColor=5C2D91" />
                    <img src="https://img.shields.io/badge/-Visual_Studio_Code-777?style=flat&logo=Visual-Studio-Code&logoColor=007ACC" />
                    <img src="https://img.shields.io/badge/-Vue.js-999?style=flat&logo=Vue.js&logoColor=4FC08D" />
                    <img src="https://img.shields.io/badge/-Windows_Forms-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-Windows_Presentation_Foundation-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                    <img src="https://img.shields.io/badge/-XAML-777?style=flat&logo=XAML&logoColor=0C54C2" />
                </div>
            </div>
        </div>
    </section>
</div>