<header>
    <nav id="main-navbar" class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand">
                <h5 class="mb-0">
                    <a id="site-title" href="">
                        <span style="transition: color 0s ease 0.05s;">W</span><span style="transition: color 0s ease 0.07s;">i</span><span style="transition: color 0s ease 0.09s;">l</span><span style="transition: color 0s ease 0.11s;">&nbsp;</span><span style="transition: color 0s ease 0.13s;">S</span><span style="transition: color 0s ease 0.15s;">t</span><span style="transition: color 0s ease 0.17s;">e</span><span style="transition: color 0s ease 0.19s;">a</span><span style="transition: color 0s ease 0.21s;">d</span>
                    </a>
                </h5>
                <h6 class="font-weight-normal text-muted">Software Engineer</h6>
            </div>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar-menu"
                    aria-controls="navbar-menu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-menu" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
                                href="#"
                                id="{{- .Name -}}-dropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-expanded="false">{{ .Name }}</a>
                                <ul class="dropdown-menu" aria-labelledby="{{- .Name -}}-dropdown">
                                        {{ range .Children }}
                                            <li><a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                                                href="{{ .URL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                </ul>
                            </li>
                        {{ else }}
                            <li class="nav-item">
                                <a class="nav-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
                                href="{{ .URL }}">
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/wil-stead">
                        <img src="https://img.shields.io/badge/-wil--stead-0077B5?style=flat&logo=Linkedin&link=https://www.linkedin.com/in/wil-stead/" title="LinkedIn" height="22px" />
                    </a>
                </span>
            </div>
        </div>
    </nav>
</header>