{{ define "main" }}
<main role="main" class="container-fluid" aria-role="main">
    <section class="row section tertiary">
        <div class="card card-background text-light">
            <img src="https://lh3.googleusercontent.com/D_yZMEJCF67bR7LDPSix1_7XwF99P6E4N_rxhOEjYWXnytVlU8c_BPRHNaeq1dZ2ahhEu-x_hsH1yggWPDNiXgUiy0N2rGh7MMV4RIDezFdNcbiYPCvbapfQXEQWaw8EuEzlxFxe5ts=w2400" />
            <div class="card-img-overlay page-heading">
                <h1 class="card-title"><span>Hello, World!</span></h1>
                <p class="card-text"><span>I'm Wil Stead,</span></p>
                <p class="card-text"><span>Software Engineer</span></p>
            </div>
        </div>
    </section>
    <section class="row section inverse text-center">
        <h1>My Skills</h1>
        <hr class="w-75 align-self-center" />
        <div class="card-group mx-0">
            <div class="card bg-transparent">
                <div class="card-body">
                    <span class="card-title card-icon"><i class="fas fa-desktop"></i></span>
                    <h5 class="card-subtitle">Software Engineering</h5>
                    <p class="card-text">Master's degree in Software Engineering · Full-stack web development · Desktop development · Agile processes · Software Lifecycle · CI/CD · Software Patterns and Practices · MVC & MVVM · SQL & NoSQL · SPAs</p>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-body">
                    <span class="card-title card-icon"><i class="fas fa-code"></i></span>
                    <h5 class="card-subtitle">Languages and Technologies</h5>
                    <p class="card-text">
                        <img src="https://img.shields.io/badge/-.NET--Core-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-ASP.NET--Core-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-Azure_DevOps-777?style=flat&logo=Azure-DevOps&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-Blazor-999?style=flat&logo=WebAssembly&logoColor=654FF0" />
                        <img src="https://img.shields.io/badge/-Bootstrap-777?style=flat&logo=Bootstrap&logoColor=563D7C" />
                        <img src="https://img.shields.io/badge/-C%23-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-CSS3-777?style=flat&logo=CSS3&logoColor=1572B6" />
                        <img src="https://img.shields.io/badge/-Docker-999?style=flat&logo=Docker" />
                        <img src="https://img.shields.io/badge/-Entity_Framework_Core-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-Git-999?style=flat&logo=Git" />
                        <img src="https://img.shields.io/badge/-GitHub-777?style=flat&logo=Github&logoColor=181717" />
                        <img src="https://img.shields.io/badge/-HTML5-999?style=flat&logo=HTML5" />
                        <img src="https://img.shields.io/badge/-JavaScript-777?style=flat&logo=Javascript" />
                        <img src="https://img.shields.io/badge/-jQuery-999?style=flat&logo=jQuery&logoColor=0769AD" />
                        <img src="https://img.shields.io/badge/-JSON-777?style=flat&logo=JSON&logoColor=000000" />
                        <img src="https://img.shields.io/badge/-Knockout-999?style=flat&logo=Javascript" />
                        <img src="https://img.shields.io/badge/-LINQ-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/Microsoft_SQL_Server-999?style=flat&logo=Microsoft-SQL-Server&logoColor=CC2927" />
                        <img src="https://img.shields.io/badge/SQL_Server_Management_Studio-777?style=flat&logo=Microsoft-SQL-Server&logoColor=CC2927" />
                        <img src="https://img.shields.io/badge/Microsoft_Azure-999?style=flat&logo=Microsoft-Azure" />
                        <img src="https://img.shields.io/badge/-PostgreSQL-777?style=flat&logo=PostgreSQL&logoColor=336791" />
                        <img src="https://img.shields.io/badge/-TypeScript-999?style=flat&logo=Typescript&logoColor=007ACC" />
                        <img src="https://img.shields.io/badge/-UWP-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-Visual_Studio-999?style=flat&logo=Visual-Studio&logoColor=5C2D91" />
                        <img src="https://img.shields.io/badge/-Visual_Studio_Code-777?style=flat&logo=Visual-Studio-Code&logoColor=007ACC" />
                        <img src="https://img.shields.io/badge/-Vue.js-999?style=flat&logo=Vue.js&logoColor=4FC08D" />
                        <img src="https://img.shields.io/badge/-Windows_Forms-777?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-Windows_Presentation_Foundation-999?style=flat&logo=Microsoft&logoColor=0078D7" />
                        <img src="https://img.shields.io/badge/-XAML-777?style=flat&logo=XAML&logoColor=0C54C2" />
                    </p>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-body">
                    <a class="card-title card-icon" href="https://github.com/WilStead" target="_blank"><i class="fab fa-github" title="GitHub"></i></a>
                    <h5 class="card-subtitle"><a href="https://github.com/WilStead" target="_blank">Examples of My Code</a></h5>
                    <p class="card-text">Check out my
                        <a href="https://github.com/WilStead">
                            <img src="https://img.shields.io/badge/-GitHub-999?style=flat&logo=Github&logoColor=181717" title="GitHub" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="row section tertiary">
        <h1>Experience</h1>
        <hr class="w-75 align-self-center" />
        <table class="table table-left-heading text-left w-50 align-self-center">
            <tbody>
                <tr>
                    <td><span>2/2017 – Present</span></td>
                    <td></td>
                    <td><span>Sr. Software Development Engineer, NASCAR</span></td>
                </tr>
                <tr>
                    <td><span>5/2010 – 1/2017</span></td>
                    <td></td>
                    <td><span>Personal Technology Expert, Support.com</span></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="row section inverse d-flex flex-column">
        <h1>Education</h1>
        <hr class="w-75 align-self-center" />
        <div class="d-flex flex-wrap justify-content-center">
            <div class="text-right px-3 mb-3">
                <h2>Master of Science,</h2>
                <h2>Software Engineering</h2>
            </div>
            <div class="px-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>8/2011 – 8/2015</td>
                            <td>
                                <strong>Master of Science, Software Engineering</strong>,<br />
                                University of West Florida · GPA 3.78<br />
                                Relevant Coursework:<br />
                                · Software Engineering Process<br />
                                · Database Systems<br />
                                · Software Engineering Foundations: Operating Systems<br />
                                · Software Design<br />
                                · Software Engineering Practice<br />
                                · Database Administration<br />
                                · Software Test / Verification
                            </td>
                        </tr>
                        <tr>
                            <td>8/2006 – 5/2010</td>
                            <td>
                                St. Vincent de Paul Regional Seminary,<br />
                                theology major · GPA 3.8
                            </td>
                        </tr>
                        <tr>
                            <td>8/2003 – 5/2008</td>
                            <td>
                                <strong>Bachelor of Arts, Philosophy</strong>,<br />
                                <em>magna cum laude</em>, Catholic University of America· GPA 3.74
                            </td>
                        </tr>
                        <tr>
                            <td>8/2001 – 5/2003</td>
                            <td>
                                St. Joseph Seminary College,<br />
                                philosophy major
                            </td>
                        </tr>
                        <tr>
                            <td>8/1999 – 12/2001</td>
                            <td>
                                Worcester Polytechnic Institute,<br />
                                computer science major
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{{ end }}
